@import '../lendsqrcss/variables';
@import '../lendsqrcss/breakpoints';

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1070;
  margin-top: $nav-menu-height;
  margin-right: 0 !important;
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  // height: 300px;
  overflow-y: scroll;
  width: $side-menu-width;
  padding-top: $side-menu-top-padding;
  background-color: map-get($colors, 'white');
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  .switchOrganisationMenu {
    display: flex;
    align-items: center;
    padding: 0 $side-menu-horizontal-padding;
    margin-bottom: 41.5px;
    .menuIcon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    .switchOrganisationMenuTitle {
      margin-right: 10.39px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $primary;
    }
    .switchOrganisationMenuIcon {
      display: flex;
      align-items: center;
    }
  }
  .menuItem {
    display: flex;
    align-items: center;
    min-height: 58px;
    padding: 0 $side-menu-horizontal-padding;
    color: $primary;
    opacity: 0.6;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .menuItemOverlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      &:hover {
        background-color: rgba($success, 0.1);
        border-left: 3px solid $success;
      }
    }
    .menuItemInner {
      display: flex;
      align-items: center;

      .menuIcon {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
      .menuTitle {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
  .menuLabel {
    margin: 30.5px 0 10px 0;
    color: $gray;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    // line-height: 14px;
    padding: 0 $side-menu-horizontal-padding;
  }
}
