@import '../lendsqrcss/variables';
@import '../lendsqrcss/breakpoints';

.pageHeader {
  margin-bottom: 40px;

  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $primary;
  }
}

.bgLightPink {
  background-color: rgba($pink, 0.1);
}
.bgLightBlue {
  background-color: rgba($blue, 0.1);
}
.bgLightOrange {
  background-color: rgba($orange, 0.1);
}
.bgLightRed {
  background-color: rgba($red, 0.1);
}
.bgLightYellow {
  background-color: rgba($yellow, 0.1);
}
.bgLightGray {
  background-color: rgba($gray, 0.06);
}
.bgLightGreen {
  background-color: rgba($green, 0.06);
}

.plainBtn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  outline: none;
}
