/* // import google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* LIBRARY OVERRIDES */

.containerClassName {
  display: flex;
  gap: 4px;
}
.previousClassName {
  border-radius: 4px;
  color: #213f7d;
  background-color: rgba(33, 63, 125, 0.1);
}
.previousLinkClassName {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  -webkit-text-fill-color: #213f7d;
  cursor: pointer;
}
.nextClassName {
  border-radius: 4px;
  color: #213f7d;
  background-color: rgba(33, 63, 125, 0.1);
}
.nextLinkClassName {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;

  -webkit-text-fill-color: #213f7d;
  cursor: pointer;
}
.activeClassName {
  border-radius: 4px;
  color: #213f7d;
  background-color: rgba(33, 63, 125, 0.1);
}
.breakClassName {
  color: #213f7d;
}
.breakLinkClassName {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;

  -webkit-text-fill-color: #213f7d;
}
.pageClassName {
  color: #213f7d;
}
.pageLinkClassName {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;

  -webkit-text-fill-color: #213f7d;
  cursor: pointer;
}
