// theme colors
$blue: #326dee !default;
$green: #1ac886 !default;
$red: #d32752 !default;
$yellow: #f6c31c !default;
$pink: #DF18FF !default;
$orange: #F55F44 !default;
$gray: #545F7D !default;
$primary: #213F7D !default;
$success: #39CDCC !default;



// color palette
$colors: (
    "blue": $blue,
    "red": $red,
    "yellow": $yellow,
    "green": $green,
    "orange": $orange,
    "pink": $pink,
    "gray": $gray,
    "primary": $primary,
    "success": $success,
    "black": black,
    "white": white,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;